<mat-toolbar>
  <mat-toolbar-row>
    <p>Friends:</p>
    <span class="spacer"></span>
    <button mat-button (click)="clickMenu()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<h5 [style.textAlign]="'center'">-- Select a friend to chat --</h5>
<mat-nav-list>
  <mat-list-item *ngFor="let friend of list"
    (click)="selectUser(friend)"
    routerLinkActive
    #routerLinkActiveInstance="routerLinkActive" 
    [attr.tabindex]="configService.selectedUser === friend"
    [class.list-item-active]="configService.selectedUser === friend">
    <img src="{{avatarPath(friend)}}" class="avatar" />&nbsp;
    <span class="spacer"></span>
    <span>{{friend.firstName}} {{friend.lastName}}</span>
  </mat-list-item>
</mat-nav-list>