<div class="container" *ngIf="isInChatRoom">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sn (sideNav)="sn" [mode]="'side'" fixedTopGap="56">
      <ng-template [ngIf]="friends?.friends.length > 0">
        <chat-friends-list #friendsList [title]="'Friends'" [list]="friends?.friends"
          (click)="contacts.selectUser(friendsList)"></chat-friends-list>
      </ng-template>
      <ng-template [ngIf]="friends?.friends.length === 0">
        <mat-toolbar>
          <mat-toolbar-row>
            <p>Friends:</p>
            <span class="spacer"></span>
            <button mat-button (click)="clickMenu()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <h4>Sorry, no friends in the list!</h4>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <chat #contacts></chat>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>