.full-size {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  margin: 0 35px 5px 35px;
  background-color: #eeeeee;
}

.bottom-to-top {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
}

#bottom-part {
  background-color: #eeeeee;
}

#message-line {
  color: #424242;
}