<mat-toolbar color="primary" [class.mat-elevation-z2]="true" role="heading">
  <mat-toolbar-row>
    <ng-template [ngIf]="isInChatRoom">
      <button mat-icon-button (click)="clickSideNav()" matTooltip="Friends list" [matTooltipPosition]="'below'"
        aria-label="Button that displays a tooltip in various positions">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
    <ng-template [ngIf]="hasLoggedinUser && !isInChatRoom">
      <a mat-button routerLink="/chat">Chat</a>
    </ng-template>
    <a mat-button routerLink="/">Home</a>
    <span class="spacer"></span>
    <font></font>
    <theme></theme>
    <ng-template [ngIf]="!hasLoggedinUser">
      <a mat-button routerLink="/account/register">Register</a>
      <a mat-button routerLink="/account/login">Login</a>
    </ng-template>
    <ng-template [ngIf]="hasLoggedinUser">
      <button mat-button [matMenuTriggerFor]="userMenu" matTooltip="{{user.firstName}} {{user.lastName}}"
        [matTooltipPosition]="'below'" aria-label="Button that displays a tooltip in various positions">
        <mat-icon aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>