<div class="sides-25">
  <h1 class="centred-text">Upload Image Form</h1>
  <hr />
  <form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data">
    <label for="file">File to upload:</label><br />
    <div id="file" class="fileinputs mat-raised-button mat-button-base">
      <input type="file" class="file" name="file" accept="image/*" ngModel required (change)="onChange($event)" />
      <div class="fakefile">
        <img src="{{searchIcon}}" class="search-image" />
      </div>
      <span id="file-text">No file choosen.</span>
    </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Upload image</button>
  </form>
</div>
<spinner *ngIf="isLoading"></spinner>