<button mat-button [matMenuTriggerFor]="themeMenu" matTooltip="Theme selector" [matTooltipPosition]="'below'"
  aria-label="Button that displays a tooltip in various positions">
  <mat-icon aria-hidden="false" aria-label="Theme icon">format_color_fill</mat-icon>
</button>
<mat-menu #themeMenu="matMenu">
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile role="menuitem">
      <button mat-mini-fab style="background: rgb(103, 58, 183);" color="primary"
        (click)="changeTheme('deeppurple-amber')">
        <mat-icon aria-hidden="false" aria-label="Check Icon" *ngIf="isMyColor('deeppurple-amber')">
          check
        </mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile role="menuitem">
      <button mat-mini-fab style="background: rgb(63, 81, 181);" color="primary" (click)="changeTheme('indigo-pink')">
        <mat-icon aria-hidden="false" aria-label="Check Icon" *ngIf="isMyColor('indigo-pink')">
          check</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile role="menuitem">
      <button mat-mini-fab style="background: rgb(233, 30, 99);" color="primary" (click)="changeTheme('pink-bluegrey')">
        <mat-icon aria-hidden="false" aria-label="Check Icon" *ngIf="isMyColor('pink-bluegrey')">
          check</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile role="menuitem">
      <button mat-mini-fab style="background: rgb(156, 39, 176);" color="primary" (click)="changeTheme('purple-green')">
        <mat-icon aria-hidden="false" aria-label="Check Icon" *ngIf="isMyColor('purple-green')">
          check</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>