<mat-grid-list cols="3" rowHeight="8%" [gutterSize]="2">
  <mat-grid-tile [colspan]="3" [rowspan]="10">
    <div class="full-size" id="chat-container" [class.mat-elevation-z2]="true" resizable [minResizableMargin]="35"
      [minResizableWidth]="200" [htmlSelector]="'#chat-content'" #chatContainer>
      <div class="bottom-to-top" id="chat-content" #container></div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2" id="bottom-part">
    <ng-template [ngIf]="configService.selectedUser === null">
      <p class="info">Select user to chat with</p>
    </ng-template>
    <ng-template [ngIf]="configService.selectedUser !== null" class="message-line">
      <mat-form-field id="form-field">
        <emoji matPrefix></emoji>
        <input matInput placeholder="Message" autocomplete="off" (keydown)="proccessMessage($event)" id="message"
          class="message-line">
      </mat-form-field>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
<spinner *ngIf="isLoading"></spinner>